<% if @person.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

    <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @person do |f| %>
  <p><%= f.text_field :firstname, placeholder: 'firstname' %></p>
  <p><%= f.text_field :lastname, placeholder: 'lastname' %></p>
  <p><%= f.text_field :age, placeholder: 'age' %></p>
  <p><%= f.text_field :gender, placeholder: 'gender' %></p>
  <%= f.submit 'Create Person'  %>
<% end %>
